{% extends 'base.html' %}

{% block conteudo %}
    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
        {% for msg in mensagens %}
            <div>
                {{ msg }}
            </div>
        {% endfor %}
    {% endif %}
    <div>
        <a href="/medicos/add">Adicionar</a>
    </div>
    <table>
        <tr>
            <th>Nome</th>
            <th>Especialidade</th>
            <th>Editar</th>
            <th>Remover</th>
        </tr>
        {% for m in medicos %}
        <tr>
            <td>{{m.nome}}</td>
            <td>{{m.especialidade}}</td>
            <td><a href="edit/{{m.id_medico}}">Editar</a></td>
            <td><a href="remove/{{m.id_medico}}">Remover</a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}