{% extends 'base.html' %}

{% block conteudo %}
    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
        {% for msg in mensagens %}
            <div>
                {{ msg }}
            </div>
        {% endfor %}
    {% endif %}
    <div>
        <a href="/pacientes/add">Adicionar</a>
    </div>
    <table>
        <tr>
            <th>Nome</th>
            <th>Idade</th>
            <th>Médico</th>
            <th>Editar</th>
            <th>Remover</th>
        </tr>
        {% for p in pacientes %}
        <tr>
            <td>{{p.nome}}</td>
            <td>{{p.idade}}</td>
            <td>{{p.medico.nome}}</td>
            <td><a href="edit/{{p.id_paciente}}">Editar</a></td>
            <td><a href="remove/{{p.id_paciente}}">Remover</a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}